 
*,
::before,
::after {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  * {
    box-sizing: initial;
  }
}

 /* .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  
  .image-container > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
  }
  
  .image-col {
    padding: 0;
    margin: 0;
  } 
  
  
  
   */
